*{

    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    align-items: center;
}


#ingreso-datos{
    display: inline-block;
    width: 40%;
    margin: 2rem;
    font-weight: bold;
    

}


#caja-viajes{
    float: right;
    width: 55%;
    text-align: end;

}

.form-viajes>input{
    margin-top: 1rem;
}


.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
 }
 
 .col {
    flex: 0 0 auto;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
 }
 
 @media (min-width: 768px) {
    .col {
        flex: 0 0 50%;
        max-width: 50%;
    }
 }