*{

    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    align-items: center;
}


#ingreso-datos{
    display: inline-block;
    width: 40%;
    margin: 2rem;
    font-weight: bold;
    

}

#caja-viajes{
    float: right;
    width: 50%;
    text-align: end;

}

#ingreso-viajes{
    font-size: 32px;
    font-weight: bold;
}

.form-viajes>input{
    margin-top: 1rem;
}
