*{

    margin: 0;
    padding: 0;
}

#ingreso-datos{
    display: inline-block;
    width: 35%;
    margin: 2rem;
    font-weight: bold;


}

#caja-viajes{
    float: right;
    width: 60%;
    text-align: end;

}

#ingreso-viajes{
    font-size: 32px;
    font-weight: bold;
}

.form-viajes>input{
    margin-top: 1rem;
}